body {
    margin: 0;
}
.image {
    width: 730px;
    height: 480px;
    border: 10px solid black;
    margin: 10px auto;
    border-radius: 10px;
}
.statBar {
    width: 730px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Spartan', sans-serif;
    line-height: 30px;
    text-align: justify;
}
.k {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
    font-family: 'Spartan', sans-serif;
    color: white;
    background: black;
}
.kent {
    display: relative;
    height: 60px;
    width: 90px;
    border-radius: 5px;
    margin: 0 52px 0 4px;
    background: black;
}
#ent {
    margin: 6px 0 0 52px;
    height: 20px;
    width: 32px;
    font-size: 10px;
    font-family: 'Spartan', sans-serif;
    color: white;
    background: black;
}
#ret {
    margin: 16px 6px 6px 44px;
    height: 13px;
    width: 40px;
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    color: white;
    background: black;
}
.bkent {
    display: relative;
    height: 60px;
    width: 90px;
    border-radius: 5px;
    margin: 0 52px 0 4px;
    background-image: url("images/bkent.jpg");
}
.kBline {
    display: flex;
    height: 68px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.kBline3 {
    display: flex;
    height: 68px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.kBoard {
    width: 710px;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 15px auto;
    background-color: rgba(220, 220, 220, 1);
    padding: 15px;
}
.bk {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border-color: grey;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
    font-size: 0;
    background-image: url("images/kb.jpg");
}
.message {
    width: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.m {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    margin-right: 30px;
}
.letters {
    display: flex;
    justify-content: center;
}
.l {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 30px;
    margin: 5px;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    border-bottom: 2px solid black;
    color: black;
}
.cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popUp {
    display: block;
    height: 670px;
    width: 724px;
    position: relative;
    background-color: white;
    border: 3px solid gray;
    border-radius: 10px;
}
.exit {
    position: absolute;
    top: 0px;
    right: 10px;
    transform: rotate(45deg);
    font-size: 40px;
}
.exit:hover {
    color: gray;
}
.popImg {
    height: 480px;
    width: 720px;
    border: 2px solid black;
    margin: 45px 0px 10px 0px;
}
.popText {
    margin: 15px;
    font-family: 'Spartan', sans-serif;
    line-height: 24px;
    text-align: justify;
}
.buttonContainer {
    width: 100%;
    height: 34px;
    position: absolute;
    bottom: 4px;
    display: flex;
    justify-content: center;
}
.nextButton {
    height: 30px;
    width: 100px;
    margin: 2px 1px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: rgba(220, 220, 220, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One', sans-serif;
}
.nextButton:hover {
    background-color: white;
}
#next9 {
    height: 30px;
    width: 270px;
    margin: 2px 1px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: rgba(220, 220, 220, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One', sans-serif;
}
#next9:hover{
    background-color: white;
}
